.focus {
    align-items: center;
    height: 80vh;
}

.headtext {
    font-weight: bold;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

.focuscontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.textcont {
    height: 469px;
    width: 469px;
    left: 223px;
    top: 12vh;
    border-radius: 50vh;
    background: #938486;
}

.text {
    margin-top: 30vh;
    margin-left: 0px;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .focus {
        align-items: center;
        height: 150vh;
    }
    

    .focuscontent {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .textcont {
        height: 469px;
        width: 100%;
        left: 223px;
        top: 12vh;
        border-radius: 0vh;
        background: #938486;
        margin-bottom: 5vh;
    }

    .s-type-1, .textcont {
        animation: slider-animation 50s ease-in-out infinite;
    }

    .s-type-1, .textcont:hover{
        animation-play-state: paused;
    }
}